body { font-family: georgia, serif; 
 background-color: #40d4ad;
}
.middle{
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.west{
  width: 600px;	
}
.east{
  width: 300px;
}
